/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* style.css.custom-colors  */
.ag-theme-quartz{
  --ag-background-color: #88b8e2;
  --ag-foreground-color: #e01373;
  --ag-header-background-color: #ec1616;
  --ag-header-foreground-color: #682121;
  --ag-odd-row-background-color: rgba(180, 180, 230, 0.2);
  --ag-font-size: 20px;
}
